.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 8vh);
  grid-template-rows: repeat(9, 8vh);
  grid-gap: 5px;
  grid-column-gap: 8px;
}

.square {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  background-color: white;
  color: #4B4B4B;
  width: 8vh;
  height: 8vh;
}

.square p {
  font-size: 30px;
}

@media (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, 6vh);
    grid-template-rows: repeat(9, 6vh);
    align-items: stretch;
    grid-gap: 0.7vh;
  }

  .square {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
  }
}
