.container-fluid {
  background: linear-gradient(to top, pink, rgba(255,255,255,0));
  min-height: 100vh;
}

.btn {
  background: #ffc0cb;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10%;
}

.btn:hover {
  background: white;
  color: #ffc0cb;
  border-style: solid;
  border-color: #ffc0cb;
  border-radius: 10%;
}

#brand {
  height: 80vh;
}

.timer {
  border-style: dashed;
  border-color: pink;
}

p {
  font-family: Roboto;
  color: pink;
  font-size: 25px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#controlls {
  justify-content: space-between;
  max-height: 10vh;
  max-width: 10.6fr;
}

#nums {
  max-width: 10.6fr;
  height: auto;
}

#nums .btn {
  font-size: 30px;
}

@media (max-width: 900px) {
  #brand {
    height: 60vh;
  }

  #controlls {
    justify-content: start;
    max-height: 8vh;
    max-width: 50vh;
  }

  #nums {
    max-width: 50vh;
    height: auto;
  }

  #nums .btn {
    font-size: 15px;
  }
}
