.container-fluid {
  background: linear-gradient(to top, pink, rgba(255,255,255,0));
  min-height: 100vh;
}

.btn {
  background: #ffc0cb;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10%;
}

.btn:hover {
  background: white;
  color: #ffc0cb;
  border-style: solid;
  border-color: #ffc0cb;
  border-radius: 10%;
}

#brand {
  height: 80vh;
}

.timer {
  border-style: dashed;
  border-color: pink;
}

p {
  font-family: Roboto;
  color: pink;
  font-size: 20px;
}

#controlls {
  justify-content: space-between;
  max-width: 80vh;
  max-height: 10vh;
}
